* {
    font-family: 'Italianno', cursive;
}

body {
    background-color: #ecf0f1 !important;
}

h1 {
    color: #c0392b !important;
}

h2 {
    color: #27ae60 !important;
    display: inline;
}

#num, #breakNum {
    margin: 10px;
}

.logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
}

#start {
    margin: 20px;
}

.copyright {
    margin-top: 60px;
    text-align: center;
    font-size: 40px;
}